body{
    background: linear-gradient(to right, blue, pink);
    
}
main{
    margin: 30px auto auto;
    border-radius: 15px;
    min-width: 500px;
    max-width: 900px;
    height: auto;
    background-color: #fff;
    padding: 5px;
    text-align: center;
}

.main-content{
    margin-left: auto;
    text-align: center;
    padding-bottom: 30px;
}

form{
    margin-top: 30px;

}

.inputs-wrapper{
    text-align: center;
    padding-left: 30px;

}

.input-wrapper label{
    left: 0;
    width: 150px;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 15px;
}

.input-wrapper input{
    margin-right: 0;
    right: 0;
    padding: 3px;
}

.description{
    padding: 15px;
    
    
}

.result{
    display: flex;
    justify-content: center;
    text-align: left;
}